In [1]:
import pandas as pd
train = pd.read_csv('dataset/train.tsv', '\t')
train.head(5)

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2

## Preprocessing

In [ ]:
train_phrase = train.Phrase
train_sentiment = train.Sentiment

#iterate each review and preprocess each of them
for i in range(len(train_phrase)):
    sentence = train_phrase.iloc[i]
    #lowercase casting
    sentence = sentence.lower()
    
    #remove stop words